/* ページ全体 */

body {
  background-color: #0f1923;
}

/** ヘッダー */

.header__container {
  display: nev;
}

.header__nav {
  width: 400px;
}

.nav-item {
}

/* メンバー */
.member-section .members {
}

.member {
}

.member__image img {
}

.member__name {
}

/* ゲーム */

/* お問い合わせ */
